.sidebarNav {
    grid-area: sidebar-nav;
    background-color: burlywood;
    padding: 20px;
    font-size: 1.5em;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: gold;
}

.item.settings {
    margin: 15px 0;
}