.app-wrapper {
    display: grid;

    grid-template-areas:
    'header header'
    'sidebar-nav content';

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

    width: 1200px;
    margin: auto;
}

.header {
    grid-area: header;
    background-color: green;
}

.header img{
    height: 90%;
    padding: 5px 5px;
}

.sidebar-nav {
    grid-area: sidebar-nav;
    background-color: burlywood;
}

.content {
    grid-area: content;
    background-color: cornflowerblue;
}